# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\ProgrammingProject\leetcode\leetcode_solution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
